<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.krystalics.d10.scheduler.dao.mapper.InstanceRelyMapper">
    <sql id="table">
        instance_rely
    </sql>

    <sql id="fields">
        id          as id,
        instance_id as instanceId,
        up_task_id  as upTaskId,
        up_version_no  as upVersionNo,
        ctime       as ctime
    </sql>

    <sql id="where_sql">
        <where>
            1 = 1
            <if test="instanceId != null and instanceId != ''">
                and instance_id = #{instanceId}
            </if>

            <if test="upTaskId != null and upTaskId != ''">
                and up_task_id = #{upTaskId}
            </if>

            <if test="upVersionNo != null and upVersionNo != ''">
                and upVersionNo = #{upVersionNo}
            </if>

        </where>
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into
        <include refid="table"/>(
        instance_id,
        up_task_id,
        up_version_no)
        value(
        #{instanceId},
        #{upTaskId},
        #{upVersionNo})
    </insert>

    <select id="list" resultType="com.github.krystalics.d10.scheduler.dao.entity.InstanceRely">
        select
        <include refid="fields"/>
        from
        <include refid="table"/>
        <include refid="where_sql"/>
        <if test="orderByOperation != null">
            <foreach collection="orderByOperation.itemOperators" item="opr" separator="," open="order by ">
                ${opr.column} ${opr.operator}
            </foreach>
        </if>
        <if test="page != null">
            limit #{page.offset},#{page.limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from
        <include refid="table"/>
        <include refid="where_sql"/>
    </select>


    <update id="update">
        update
        <include refid="table"/>
        <set>
            1=1
        </set>
        <include refid="where_sql"/>
    </update>

    <select id="getById" resultType="com.github.krystalics.d10.scheduler.dao.entity.InstanceRely">
        select
        <include refid="fields"/>
        from
        <include refid="table"/>
        <include refid="where_sql"/>
    </select>
</mapper>
