<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.krystalics.d10.scheduler.dao.mapper.NodeMapper">
    <sql id="table">
        node
    </sql>

    <sql id="fields">
        id               as id,
        node_address     as nodeAddress,
        cpu_use          as cpuUse,
        cpu_capacity     as cpuCapacity,
        memory_use       as memoryUse,
        memory_capacity  as memoryCapacity,
        avg_load_1       as avgLoad1,
        avg_load_5       as avgLoad5,
        avg_load_15      as avgLoad15,
        alive            as alive,
        ctime            as ctime,
        mtime            as mtime
    </sql>

    <sql id="where_sql">
        <where>
            1 = 1
            <if test="nodeAddress != null and nodeAddress != ''">
                and node_address = #{nodeAddress}
            </if>


            <if test="alive != null">
                alive = #{alive},
            </if>
        </where>
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into
        <include refid="table"/>(
        node_address,
        cpu_use,
        cpu_capacity,
        memory_use,
        memory_capacity,
        avg_load_1,
        avg_load_5,
        avg_load_15,
        alive)
        value(
        #{nodeAddress},
        #{cpuUse},
        #{cpuCapacity},
        #{memoryUse},
        #{memoryCapacity},
        #{avgLoad1},
        #{avgLoad5},
        #{avgLoad15},
        #{alive})
        on duplicate key update
        cpu_use = values(cpu_use),
        cpu_capacity = values(cpu_capacity),
        memory_use = values(memory_use),
        memory_capacity = values(memory_capacity),
        avg_load_1 = values(avg_load_1),
        avg_load_5 = values(avg_load_5),
        avg_load_15 = values(avg_load_15),
        alive=values(alive)
    </insert>

    <select id="list" resultType="com.github.krystalics.d10.scheduler.dao.entity.Node">
        select
        <include refid="fields"/>
        from
        <include refid="table"/>
        <include refid="where_sql"/>
        <if test="orderByOperation != null">
            <foreach collection="orderByOperation.itemOperators" item="opr" separator="," open="order by ">
                ${opr.column} ${opr.operator}
            </foreach>
        </if>
        <if test="page != null">
            limit #{page.offset},#{page.limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from
        <include refid="table"/>
        <include refid="where_sql"/>
    </select>


    <update id="update">
        update
        <include refid="table"/>
        <set>
            <if test="cpuUse != null and cpuUse != ''">
                cpu_use = #{cpuUse},
            </if>
            <if test="cpuCapacity != null and cpuCapacity != ''">
                cpu_capacity = #{cpuCapacity},
            </if>

            <if test="memoryUse != null and memoryUse != ''">
                memory_use = #{memoryUse},
            </if>
            <if test="memoryCapacity != null and memoryCapacity != ''">
                memory_capacity = #{memoryCapacity},
            </if>

            <if test="avgLoad1 != null and avgLoad1 != ''">
                avg_load_1 = #{avgLoad1},
            </if>
            <if test="avgLoad5 != null and avgLoad5 != ''">
                avg_load_5 = #{avgLoad5},
            </if>
            <if test="avgLoad15 != null and avgLoad15 != ''">
                avg_load_15 = #{avgLoad15},
            </if>

            <if test="alive != null and alive != ''">
                alive = #{alive},
            </if>
        </set>
        <include refid="where_sql"/>
    </update>

    <select id="getById" resultType="com.github.krystalics.d10.scheduler.dao.entity.Node">
        select
        <include refid="fields"/>
        from
        <include refid="table"/>
        where id=#{id}
    </select>

</mapper>
