<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.krystalics.d10.scheduler.dao.mapper.TaskRelyMapper">
    <sql id="table">
        task_rely
    </sql>

    <sql id="fields">
        id          as id,
        task_id     as taskId,
        up_task_id  as upTaskId,
        offset      as offset,
        cnt         as cnt
    </sql>

    <sql id="where_sql">
        <where>
            1 = 1
            <if test="taskId != null and taskId != ''">
                and task_id = #{taskId}
            </if>

            <if test="upTaskId != null and upTaskId != ''">
                and up_task_id = #{upTaskId}
            </if>

        </where>
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into
        <include refid="table"/>(
        id,
        task_d,
        up_task_id,
        offset,
        cnt)
        value(
        #{id},
        #{taskId},
        #{upTaskId},
        #{offset},
        #{cnt})
    </insert>

    <select id="list" resultType="com.github.krystalics.d10.scheduler.dao.entity.TaskRely">
        select
        <include refid="fields"/>
        from
        <include refid="table"/>
        <include refid="where_sql"/>
        <if test="orderByOperation != null">
            <foreach collection="orderByOperation.itemOperators" item="opr" separator="," open="order by ">
                ${opr.column} ${opr.operator}
            </foreach>
        </if>
        <if test="page != null">
            limit #{page.offset},#{page.limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from
        <include refid="table"/>
        <include refid="where_sql"/>
    </select>


    <update id="update">
        update
        <include refid="table"/>
        <set>
            <if test="offset != null and offset != ''">
                offset = #{offset},
            </if>

            <if test="cnt != null and cnt != ''">
                cnt = #{cnt},
            </if>
        </set>
        <include refid="where_sql"/>
    </update>

    <select id="getById" resultType="com.github.krystalics.d10.scheduler.dao.entity.TaskRely">
        select
        <include refid="fields"/>
        from
        <include refid="table"/>
        <include refid="where_sql"/>
    </select>
</mapper>
